/*    
@font-face {
    font-family: 'star_jedi_hollowregular';
    src: url('starjhol-webfont.woff2') format('woff2'),
         url('starjhol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

body {
    /* background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; */
    background-color: black;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;

}

    button{
        width: 20%;
        margin: 5px;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.0rem;
        border-radius: 5px;
      padding: 1rem;
      border: none;
      outline: none;
      color: #FFDE06;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    button:before {
      content: "";
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing-button-85 20s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }
    
    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    button:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #222;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

button:focus {
    color: purple;
    background: white;
    font-weight: bolder;
    font-size: larger;
}



ul, p, h1, h2, h3, h4 {
    color: white;
    /* font-family: 'star_jedi_hollowregular';
    font-weight: normal;
    font-style: normal; */
    font-family: 'Orbitron', sans-serif;
}

.item-card {
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    border: 1px solid black;
    width: 20%;
    opacity: 0.9;
    border: 1px solid white;
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    }
.main-img {
  padding: 50px;
    text-align: center;
}
nav{
    width: 50%;
    display: flex;
    align-items: space-between;
    padding: 20px;
    margin: auto;
   
}
#output {
    width: 90%;
    display: flex;
    /* align-self: center; */
    justify-content: center;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
}